nuclei_sample_1a_v1/*
experiments/*
.cursor-server/*
.bash_history
.DS_Store
.cursorignore
.cursorrules
.cursorignorerules
.cursorignorerules
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
results/*
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
data/*
*.zip
*.tar
*.gz
*.bz2
*.rar
*.7z
*.pyc
**/__pycache__/**
**/__pycache__
**/__pycache__/
**/__pycache__/
**/__pycache__/
**/__pycache__/
**/__pycache__/
low_res_dataset/*
.vscode-server/*
.vscode/*
*.log
wandb_runs/*