nuclei_sample_1a_v1/*
experiments/*
.cursor-server/*
.bash_history
.DS_Store
.cursorignore
.cursorrules
.cursorignorerules
.cursorignorerules
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
results/*
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
